Agentforce/Q&A Agent/flows/Check_Idea_Status.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <description>Return [Front_Door_Idea__c].[Stage]</description>
        <name>Return_Stage_Value</name>
        <label>Return Stage Value</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>return</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>The status of your idea is [{!objFront_Door_Idea.Stage__c}]</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <description>Check to see if the [Front_Door_Idea] is found</description>
        <name>Idea_Found</name>
        <label>Idea Found</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>objFront_Door_Idea.Id</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Return_Stage_Value</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Checks the status of a given [Front_Door_Idea__c]</description>
    <environments>Default</environments>
    <interviewLabel>Check Idea Status {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Check Idea Status</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Get Idea based on provided [Idea_Id]</description>
        <name>Get_Idea</name>
        <label>Get Idea</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Idea_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Idea_Id</elementReference>
            </value>
        </filters>
        <object>Front_Door_Idea__c</object>
        <outputReference>objFront_Door_Idea</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Stage__c</queriedFields>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Idea</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>The ID of the Idea for Status checking</description>
        <name>Idea_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <description>Record of [Front_Door_Idea]</description>
        <name>objFront_Door_Idea</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Front_Door_Idea__c</objectType>
    </variables>
    <variables>
        <description>return text</description>
        <name>return</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>No Idea found</stringValue>
        </value>
    </variables>
</Flow>
