Agentforce/Q&A Agent/flows/Save_Idea.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Send Email</description>
        <name>Send_Email</name>
        <label>Send Email</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Finally</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Creating_Email</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recipientAddresses</name>
            <value/>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>aicatalystlab@Salesforce.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>useEmailTemplate</name>
            <value>
                <stringValue>True</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <stringValue>00XS900000DcvaTMAR</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>Contact.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>Create_Idea.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionString>2.0.1</versionString>
    </actionCalls>
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <description>Assign Fiull Name</description>
        <name>Assign_Fiull_Name</name>
        <label>Assign Fiull Name</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Contact.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{!User_First_Name}  {!User_Last_Name}</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Was_Account_Provided</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Error Creating Account</description>
        <name>Error_Creating_Account</name>
        <label>Error Creating Account</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ErrorDetails</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>The Account [{!External_Account_Name}] could not be created</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>Error Creating Salesforce Account</description>
        <name>Error_Creating_Salesforce_Account</name>
        <label>Error Creating Salesforce Account</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ErrorDetails</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Error Creating Salesforce Account</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>Error Creating Contact</description>
        <name>Error_Creating_Contact</name>
        <label>Error Creating Contact</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ErrorDetails</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>The Contact [{!User_First_Name} {!User_Last_Name} - {!User_Email}] could not be created</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>Error Creating Email</description>
        <name>Error_Creating_Email</name>
        <label>Error Creating Email</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ErrorDetails</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>The Email could not be created</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>Error Creating Idea</description>
        <name>Error_Creating_Idea</name>
        <label>Error Creating Idea</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ErrorDetails</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>The Idea could not be created</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>Send details to user</description>
        <name>Finally</name>
        <label>Finally</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ErrorDetails</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Thanks for your Idea - its successfully been created ({!Create_Idea.Id}). I&apos;ve sent you an email confirmation too!</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <description>Check to see if the External Account was provided and exists</description>
        <name>Does_Account_Exist</name>
        <label>Does Account Exist</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Create_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Account Not Found</defaultConnectorLabel>
        <rules>
            <name>Account_Existse</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Account</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Idea</targetReference>
            </connector>
            <label>Account Exists</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check to see if Contact exists</description>
        <name>Does_Contact_Exist</name>
        <label>Does Contact Exist</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Create_Salesforce_Parent_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Contact Not Found</defaultConnectorLabel>
        <rules>
            <name>Contact_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Contact</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Was_Account_Provided</targetReference>
            </connector>
            <label>Contact Exist</label>
        </rules>
    </decisions>
    <decisions>
        <description>Was an External Account name provided?</description>
        <name>Was_Account_Provided</name>
        <label>Was Account Provided</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Create_Idea</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Account Not Provided</defaultConnectorLabel>
        <rules>
            <name>Account_Provided</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>External_Account_Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Account</targetReference>
            </connector>
            <label>Account Provided</label>
        </rules>
    </decisions>
    <description>Saves the Idea that a User has.</description>
    <environments>Default</environments>
    <interviewLabel>Save Idea {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Save Idea</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Create Account for Idea</description>
        <name>Create_Account</name>
        <label>Create Account</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignRecordIdToReference>Account.Id</assignRecordIdToReference>
        <connector>
            <targetReference>Create_Idea</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Creating_Account</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Industry</field>
            <value>
                <stringValue>Other</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>External_Account_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RIG_Client__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Website</field>
            <value>
                <stringValue>&quot;www.Salesforce.com&quot;</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordCreates>
    <recordCreates>
        <description>Create Salesforce Parent Account</description>
        <name>Create_Salesforce_Parent_Account</name>
        <label>Create Salesforce Parent Account</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignRecordIdToReference>Salesforce_Account.Id</assignRecordIdToReference>
        <connector>
            <targetReference>Create_Contact</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Creating_Salesforce_Account</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Salesforce</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Industry</field>
            <value>
                <stringValue>Other</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Salesforce</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RIG_Client__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Website</field>
            <value>
                <stringValue>www.Salesforce.com</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
        <operationMultMatchingRecords>UpdateLatestRecord</operationMultMatchingRecords>
        <operationOneMatchingRecord>UpdateAllRecords</operationOneMatchingRecord>
        <operationZeroMatchingRecords>AddRecord</operationZeroMatchingRecords>
    </recordCreates>
    <recordCreates>
        <description>Create Contact</description>
        <name>Create_Contact</name>
        <label>Create Contact</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignRecordIdToReference>Contact.Id</assignRecordIdToReference>
        <connector>
            <targetReference>Assign_Fiull_Name</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Creating_Contact</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Salesforce_Account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Division__c</field>
            <value>
                <elementReference>User_Division</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>User_Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>User_First_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>User_Last_Name</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordCreates>
    <recordCreates>
        <description>Create the User&apos;s Idea</description>
        <name>Create_Idea</name>
        <label>Create Idea</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Send_Email</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Creating_Idea</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Benefits_and_Values__c</field>
            <value>
                <elementReference>Benefits</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Budget__c</field>
            <value>
                <elementReference>Budget</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Business_Sector__c</field>
            <value>
                <elementReference>Business_Sector</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Client__c</field>
            <value>
                <elementReference>Account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Core_Features_and_Functionalities__c</field>
            <value>
                <elementReference>Core_Features</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Deadline_Reason__c</field>
            <value>
                <elementReference>Deadline_Reason</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Estimated_Effort__c</field>
            <value>
                <elementReference>Est_Effort</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Idea_Summary__c</field>
            <value>
                <elementReference>Summary</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Individual_or_Team_Idea__c</field>
            <value>
                <elementReference>IndividualOrTeam</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Margin_Improvement__c</field>
            <value>
                <elementReference>Margin_Improvement</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Metrics_for_Success__c</field>
            <value>
                <elementReference>Metrics</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pain_Points__c</field>
            <value>
                <elementReference>Pain_Points</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Primary_Outcome__c</field>
            <value>
                <elementReference>Primary_Outcome</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Revenue_Impact__c</field>
            <value>
                <elementReference>Revenue_Impact</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source__c</field>
            <value>
                <stringValue>Salesforce</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stage__c</field>
            <value>
                <stringValue>Idea</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Submitter__c</field>
            <value>
                <elementReference>Contact.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Target_Audience__c</field>
            <value>
                <elementReference>Target_Audience</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Technology_Preferences__c</field>
            <value>
                <elementReference>Technology</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>User_Name__c</field>
            <value>
                <elementReference>Contact.Name</elementReference>
            </value>
        </inputAssignments>
        <object>Front_Door_Idea__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <description>Get External Account of user&apos;s idea</description>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_Account_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>External_Account_Name</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>Account</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Get Contact of user</description>
        <name>Get_Contact</name>
        <label>Get Contact</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_Contact_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>User_Email</elementReference>
            </value>
        </filters>
        <filters>
            <field>LastName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>User_Last_Name</elementReference>
            </value>
        </filters>
        <filters>
            <field>FirstName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>User_First_Name</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>Contact</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Contact</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>Account</description>
        <name>Account</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <description>These are the benefits of the User&apos;s idea</description>
        <name>Benefits</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>This is the budget of the User&apos;s idea</description>
        <name>Budget</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>This is the business sector of the User&apos;s idea</description>
        <name>Business_Sector</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Account record for Salesforce</description>
        <name>Salesforce_Account</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <description>Contact Object</description>
        <name>Contact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <description>These are the core features of the User&apos;s idea</description>
        <name>Core_Features</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>This is the deadline reason of the User&apos;s idea</description>
        <name>Deadline_Reason</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Error Details from the Flow</description>
        <name>ErrorDetails</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <description>This is the estimated effort to implementat the User&apos;s idea</description>
        <name>Est_Effort</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>The name of the external account name</description>
        <name>External_Account_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <description>Is this Idea being submitted as an &quot;Individual&quot; or as a &quot;Team&quot;? (only &quot;Individual&quot; or &quot;Team&quot; are valid answers)</description>
        <name>IndividualOrTeam</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Individual</stringValue>
        </value>
    </variables>
    <variables>
        <description>This is the margin improvement of the User&apos;s idea</description>
        <name>Margin_Improvement</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>These are the key success metrics of the User&apos;s idea</description>
        <name>Metrics</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>These are the paint points of the User&apos;s idea</description>
        <name>Pain_Points</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>These are the primary outcomes of the User&apos;s idea</description>
        <name>Primary_Outcome</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>This is the revenue impact of the User&apos;s idea</description>
        <name>Revenue_Impact</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>This is a summary of the User&apos;s idea</description>
        <name>Summary</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>This is the target audience of the User&apos;s idea</description>
        <name>Target_Audience</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>This is the technology, tool or plaform preference of the User&apos;s idea</description>
        <name>Technology</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Division of User of the Idea.</description>
        <name>User_Division</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Email address of the User of the Idea.</description>
        <name>User_Email</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <description>First name of User of the Idea.</description>
        <name>User_First_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Last name of User of the Idea</description>
        <name>User_Last_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
